@import 'variables';
@import 'header';

nav {
  height: 120px;
  width: 100%;
  background-color: $primary_bg_color;
  color: white;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  font-size: $font_24;

  .logo {
    font-family: "Bungee";
    font-size: $font_36;
  }

  .nav-new-tweet {
    @include content_align;
  }


  #new-tweetBtn {
    background-color: $primary_bg_color;
    border: 0;
    color: white;
  }

  #new-tweetArrow {
    height: 10px;
    position: relative;
  }

  #new-tweetBtn:hover,
  #new-tweetArrow:hover {
    cursor: pointer;
  }

  .fa-angles-down {
    color: red;
  }
}