.page-header {
  height: 380px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #05056e;
  background-image: url('/images/wood-pattern.png');
}

#username {
  color: white;
}