.page-header {
  height: 380px;
  width: 100%;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #05056e;
  background-image: url("/images/wood-pattern.png");
}

#username {
  color: white;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* Write CSS rules that target Tablets screen sizes upwards - including desktops */
  .page-header {
    width: 33.3%;
    height: 380px;
    margin: 100px 50px 100px 50px;
  }
}
