/* main - Section - class name is new-tweet */
.new-tweet {
  display: none;
  padding-left: 3em;
  text-align: left;
  width: 100%;
}

#tweet-text {
  height: 50px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 4px solid;
}

#tweet-text:focus {
  outline: none !important;
}

#tweetBtn {
  background-color: #4056A1;
  font-family: "Bungee";
  color: white;
  border: 0;
}

#btnOp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#error-display {
  margin-top: 10px;
  background-color: orangered;
  font-size: 25px;
  font-weight: bold;
}